
/*====================General styles=====================*/
/*=======================================================*/

html {
	font-size:62.5%;
}

img {
	max-width:100%;
	display: block;
}

a {
	text-decoration:none;
	color: inherit;
}

ul {
	list-style: none;
	padding-left: 0;
}

body {
	font-size:1rem;
	line-height: 1.5;
	font-family:'Montserrat', sans-serif;
}

strong {
	color: rgba(180, 142, 174, 1);
}

h1 {
	margin-bottom: 0;
}

h2, h3, h4 {
	font-family: 'Montserrat', sans-serif;
	text-align:left;
	margin:0;
	color:rgba(100,110,104,1);
	font-weight: 500;
	margin-left:0;
}

	h2 {
		font-size: 4rem;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-weight: bold;
		margin-bottom:5%;
		line-height: 1;
	}

	h3 {
		font-size:2rem;
		font-weight: 400;
	}

p {
	font-size: 1.4rem;
	font-family: "Open Sans", sans-serif;
}

section {
	padding:5% 0;
}

button {
	border:1px solid rgba(180, 142, 174, 0.2);
	border-bottom: 4px double rgba(180, 142, 174, 1);
	background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url(../images/pw_maze_white.png);
	padding: 8px 20px;
	font-size:1.4rem;
	margin: 5px;
	word-break: keep-all ;

}
	button:hover,button:focus {
		background: rgba(180,142,174,0.5) ;
		border-bottom: 4px double white;
	}

	button h4 {
		text-transform: uppercase;
		text-align: center;
		white-space:nowrap;
	}

.flexParent {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.wrapper {
	width: 70%;
	max-width: 1180px;
	margin: 0 auto;
}

.toTop {
	position: absolute;
	bottom:15px;
	left:50%;
	transform: translate(-50%, -50%);
	a i {
		font-size:40px;
		color: white;
		text-shadow:none;
		&:hover {
			color: white;
		}
	}
}

.toTopText {
	position: absolute;
	left: 50%;
	bottom:10px;
	width:60px;
	text-align: center;
	display:block;
	transform: translate(-50%, -50%);
}